[submodule "docs"]
	path = docs
	url = https://github.com/ccdcoe/Frankencoding.git
[submodule "correlation"]
	path = correlation
	url = https://github.com/ccdcoe/frankenSEC
[submodule "dockerfiles"]
	path = dockerfiles
	url = https://github.com/markuskont/dockerfiles
[submodule "peek"]
	path = peek
	url = https://github.com/ccdcoe/go-peek.git
[submodule "sigma-rule-engine"]
	path = sigma-rule-engine
	url = https://github.com/markuskont/go-sigma-rule-engine
