[global_tags]

[agent]
  hostname = "{{inventory_hostname}}"
  omit_hostname = false
  interval = "{{interval}}"
  round_interval = true
  metric_buffer_limit = 1000
  flush_buffer_when_full = true
  collection_jitter = "0s"
  flush_interval = "{{flush_interval}}"
  flush_jitter = "10s"
  debug = false
  quiet = true

#
# OUTPUTS:
#
{% for out in outputs %}
[[outputs.influxdb]]
  database  = "{{out.database}}"
  urls  = ["{{out.url}}"]
{% endfor %}

