#jinja2: trim_blocks:False
[default]
elasticsearch={{ elasticsearch | mandatory | join(',') }}
rotateIndex=daily

httpRealm = Moloch
passwordSecret = {{ moloch.secret }}
interface= {{ moloch.interfaces | join(';') }}
pcapDir = {{ moloch_internal_data_dir }}

maxFileSizeG = 12
tcpTimeout = 600
tcpSaveTimeout = 720
udpTimeout = 30
icmpTimeout = 10
maxStreams = 1000000
maxPackets = 10000
freeSpaceG = 5%
viewPort = 8005

geoLite2Country = /data/moloch/etc/GeoLite2-Country.mmdb
geoLite2ASN = /data/moloch/etc/GeoLite2-ASN.mmdb
rirFile = /data/moloch/etc/ipv4-address-space.csv
ouiFile = /data/moloch/etc/oui.txt

dropUser=moloch
dropGroup=daemon
parseSMTP=true
parseSMB=true
parseQSValue=false
supportSha256=false

maxReqBody=64
config.reqBodyOnlyUtf8 = true
smtpIpHeaders=X-Originating-IP:;X-Barracuda-Apparent-Source-IP:

parsersDir=/data/moloch/parsers
pluginsDir=/data/moloch/plugins

plugins={%if 'wise' is defined %}wise.so{%endif%}{%if 'wise' is defined and 'suricata' in moloch%};{%endif%}{%if 'suricata' in moloch%}suricata.so{%endif%}
{%- if 'wise' %}
viewerPlugins=wise.js
wiseHost={{wise.host}}
wisePort={{wise.port}}
{%- endif%}
{%- if 'suricata' in moloch %}
suricataAlertFile={{ moloch.suricata.container_dir if 'container_dir' in moloch.suricata else '/var/log/suricata' }}/{{ moloch.suricata.file if 'file' in moloch.suricata else 'eve.json' }}
{%- endif %}

spiDataMaxIndices=24

packetThreads=10
pcapWriteMethod=simple
pcapWriteSize = 262143

dbBulkSize = 300000
compressES = false
maxESConns = 30
maxESRequests = 500
packetsPerPoll = 50000
antiSynDrop = true

logEveryXPackets = 100000
logUnknownProtocols = false
logESRequests = false
logFileCreation = true

pcapReadMethod=tpacketv3

rulesFiles=/data/moloch/etc/rules.yml

[headers-http-request]
referer=type:string;count:true;unique:true
authorization=type:string;count:true
content-type=type:string;count:true
origin=type:string

[headers-http-response]
location=type:string
server=type:string
content-type=type:string;count:true

[headers-email]
x-priority=type:integer
authorization=type:string

{%- if game_zones is defined %}
[override-ips]
{%- if 'sinet' in game_zones %}
{%- for item in game_zones.sinet %}
{{ item.range }}=tag:{{item.tag}};country:{{item.country}};asn:AS0000 {{item.asn}};rir:{{item.rir}}
{%- endfor %}
{%- endif %}
{%- if 'home' in game_zones %}
{%- for item in game_zones.home %}
{{ item.range }}=tag:{{item.tag}};country:{{item.country}};rir:{{item.rir}}
{%- endfor %}
{%- endif %}
{%- if 'bad' in game_zones %}
{%- for item in game_zones.bad %}
{{ item.range }}=tag:{{item.tag}};country:{{item.country}};rir:{{item.rir}}
{%- endfor %}
{%- endif %}
{%- if 'other' in game_zones %}
{%- for item in game_zones.other %}
{{ item.range }}=tag:{{item.tag}};country:{{item.country}};rir:{{item.rir}}
{%- endfor %}
{%- endif %}
{%- endif %}

{%- if 'custom_fields' in moloch %}
[custom-fields]
{%- for field in moloch.custom_fields %}
{{field.name}}=kind:{{field.kind}};count:false;friendly:{{field.friendly}};db:{{field.name}};help:{{field.help}}
{%- endfor %}
{%- endif%}

{%- if 'custom_views' in moloch%}
[custom-views]
{%- for view in moloch.custom_views %}
{{view.name}}=title:{{view.title}};require:{{view.name}};fields:{{view.fields}}
{%- endfor %}
{%- endif %}
