# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto ens192
iface ens192 inet static
    address {{ network.sinet.ipv4 | ipaddr(lookup('vars', 'last_octet')) }}
    gateway {{ network.sinet.ipv4 | ipaddr(network.sinet.gw) | ipaddr('address') }}
